@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

header h1{
    color: rgb(218, 231, 255);
    font-size: 70px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.219);
    font-family:'comic neue','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}

#child{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    height: 250px;
    width: 370px;  
    margin: 200px 0px;
    
}

#child p{
    text-decoration: none;
    font-size: 100px;
    color: rgb(243, 243, 140);
}

body{
    background-image: url(imagens/afternoon-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

header{
    text-align: center;
}

p{
    text-align: center;
}

footer{
    text-align: center;
    background-color: transparent;
    color: white;
    width: 100%;
}